<div class="mb-4">
    <label for="{{ field.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
    <input 
        type="{{ field.field.widget.input_type }}" 
        name="{{ field.name }}" 
        id="{{ field.id_for_label }}" 
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
        placeholder="{{ field.field.widget.attrs.placeholder }}" 
        {% if field.field.required %}required{% endif %} 
    >
    {% if field.errors %}
        <div class="text-red-500 text-xs italic">{{ field.errors.0 }}</div>
    {% endif %}
</div>