{% if items.has_other_pages %}
<div class="row">
    <div class="col-md-12 text-center">
        <div class="block-27">
            <ul>
                <ul>
                {% if items.has_previous %}
                    <li><a href="?page=1">First</i></a></li>
                    <li><a href="?page={{ items.previous_page_number }}"><i class="ion-ios-arrow-back"></i></a></li>
                {% endif %}
            
                {% for num in items.paginator.page_range %}
                    {% if items.number == num %}
                        <li class="active"><span>{{ num }}</span></li>
                    {% elif num > items.number|add:'-3' and num < items.number|add:'3' %}
                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
            
                {% if items.has_next %}
                    <li><a href="?page={{ items.next_page_number }}"><i class="ion-ios-arrow-forward"></i></a></li>
                    <li><a href="?page={{ items.paginator.num_pages }}">Last</a></li>
                {% endif %}
                </ul>
            </ul>
        </div>
    </div>
</div>
{% endif %}