{% extends 'ask_yourtube/base.html' %}
{% block title %}Video Details{% endblock %}
{% block extra_head %}
<style>
    #chatMessages {
        display: flex;
        flex-direction: column; 
        max-height: 300px; /* Or any appropriate height */
        overflow:auto;
    }

    .user-message, .ai-message { 
        margin-bottom: 10px;
        padding: 8px 12px;
        border-radius: 10px;
        max-width: 90%; 
        text-align: justify;
    }

    .user-message {
        align-self: flex-end; 
        background-color: var(--bs-green); 
        color: white;
    }

    .ai-message {
        align-self: flex-start;
        background-color: var(--bs-secondary); 
        color: white;
    }
    input#questionInput::placeholder {
      color: #acacac;
    }
</style>
{% endblock %}
{% block content %}
<div class="row justify-content-center ">
  <div class="col-md-8">
    <div class="card shadow-sm bg-secondary text-light rounded-5"> 
      <div class="card-body ">
        <h2 class="card-title text-center m-3 border-bottom p-3">{{ video.video_title }}</h2>

        {% include 'ask_yourtube/file_summary.html' with summary=video_session.summary transcript=video_session.transcript  %}

        {% include 'ask_yourtube/chat_form.html' with chat_history=chat_history  %}

        <input type="hidden" id="session-id" value="{{ video_session.session_id }}"> 

      </div>
    </div>
  </div>
</div>

{% endblock %}